<ion-header>
  <ion-navbar [color]="role.toLowerCase()">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>The {{ role }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only margin-right margin-left>
        <ion-icon name="book"></ion-icon>
      </button>
      <button ion-button icon-only margin-right margin-left>
        <ion-icon name="square-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="true-center">

  <!-- todo add ion-col *ngFor cateogry in cateogories and have filters based on the cateogories available -->
  <!-- TODO instead add an overflow menu with the different boards (if more than one) *-->

  <ion-slides *ngIf="isLoaded"
              loop="true"
              centeredSlides="true"
              pager="true"
              paginationType="fraction"
              slidesPerView="1"
              spaceBetween="13"
              [initialSlide]="lastViewedCard"
              (ionSlideDidChange)="updateCurrentSlide($event)"
              zoom="true">
    <ion-slide *ngFor="let card of allCards">
      <card [cardRole]="role" [cardType]="card.type" [cardIndex]="card.index"></card>
    </ion-slide>
  </ion-slides>

</ion-content>
